<style>
.jumbotron{
 
   background-size: cover;
   height: 800px;
   text-align: center;
   margin-top: -180px;
   }
.jumbotron .display{
   color: black;
   margin-top: 250px;
   }
.jumbotron p{
   color: black;
   }

</style>
